.coh-style-totals-item.hide {
  display:none;
}

.coh-style-total-val::before {
  content: ' $';
}

#acf-cart-discount .coh-style-total-val::before {
  content: ' -$';
}

.coh-style-totals-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.coh-style-totals-item label {
  font-weight: bold;
}

.coh-style-totals-item label::after {
  content: ':\2003';
}

.coh-style-promocode {
    font-style: italic;
    margin: 0 0.5rem;
}