<cart-total class='coh-cart-total'>
  <div class="coh-totals">
    <div class="coh-totals-item" id="acf-cart-subtotal">
      <label>Subtotal</label>
      <div class="coh-total-val">0.00</div>
    </div>
    <div class="coh-totals-item" id="acf-cart-tax">
      <label>Tax</label>
      <div class="coh-total-val">0.00</div>
    </div>
    <div class="coh-totals-item" id="acf-cart-shipping">
      <label>Shipping</label>
      <div class="coh-total-val">0.00</div>
    </div>
    <div class="coh-totals-item" id="acf-cart-discount">
      <label>Discount</label>
      <div class="coh-total-val">0.00
        <span class="coh-promocode"></span>
      </div>
    </div>
    <div class="coh-totals-item" id="acf-cart-total">
      <label>Total</label>
      <div class="coh-total-val">0.00</div>
    </div>
  </div>
</cart-total>