<cart-total class='coh-style-cart-total'>
  <div class="coh-style-totals">
    <div class="coh-style-totals-item" id="acf-cart-subtotal">
      <label>Subtotal</label>
      <div class="coh-style-total-val">0.00</div>
    </div>
    <div class="coh-style-totals-item" id="acf-cart-tax">
      <label>Tax</label>
      <div class="coh-style-total-val">0.00</div>
    </div>
    <div class="coh-style-totals-item hide" id="acf-cart-shipping">
      <label>Shipping</label>
      <div class="coh-style-total-val">0.00</div>
    </div>
    <div class="coh-style-totals-item hide" id="acf-cart-discount">
      <label>Discount</label>
      <span class="coh-style-total-val">0.00</span>
      <span class="coh-style-promocode"></span>
    </div>
    <h3 class="coh-style-totals-item" id="acf-cart-total">
      <label>Total</label>
      <div class="coh-style-total-val">0.00</div>
    </h3>
  </div>
</cart-total>