mini-cart li {
  list-style: none;
  margin: 0;
}

mini-cart article {
  transform: scale(0.8);
  max-width: 20rem;
}

mini-cart .coh-heading {
  margin: 0;
}

mini-cart .hide-mini-cart {
  display: none;
}