.acf-form-select {
     display: inline-block;
}
 .acf-form-select::before {
     content: "\00A0";
     background: url(svg/icon__down.svg) no-repeat;
     background-size: contain;
     height: 1.6rem;
     width: 1.6rem;
     position: absolute;
     top: 0;
     right: 0;
     pointer-events: none;
     z-index: 1;
}
 .acf-form-select select {
     padding: 0 2rem 0.6rem 0;
     border-width: 0 0 .2rem 0;
}
 .acf-full-cart {
     padding: 4.76rem 0;
     position: relative;
}
 .acf-full-cart__inner {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
}
 .acf-full-cart__main {
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
}
 .acf-full-cart__heading {
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 2.4rem;
     border-bottom: 0.1rem solid #ddd;
     padding-bottom: 1.19rem;
     margin-bottom: 2.38rem;
}
 .acf-full-cart__product-list > li {
     padding: 2.38rem 0;
     border-bottom: 0.1rem solid #ddd;
}
 .acf-mini-cart {
     display: block;
     margin-left: 2.38rem;
}
 .acf-mini-cart__inner {
     cursor: pointer;
     position: relative;
     padding: .7rem 1.4rem .7rem 0;
}
 .acf-mini-cart__icon {
     display: block;
     position: relative;
     height: 2.5rem;
     width: 2.5rem;
     background: url(svg/icon__cart.svg) no-repeat;
     background-size: contain;
     z-index: 1;
}
 .acf-mini-cart__count {
     position: absolute;
     top: 0;
     right: 0;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 2.2rem;
     height: 2.2rem;
     border-radius: 2.2rem;
     background: #01a8e7;
     color: #fff;
     z-index: 2;
}
 .acf-mini-cart-dropdown {
     background-color: #fff;
     border-radius: 5px;
     -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-top: 18px;
     padding: 10px;
     width: 280px;
     position: absolute;
     top: 100%;
     right: 0;
     z-index: 10;
}
 .acf-mini-cart-dropdown:before {
     content: "";
     border-color: #0000 #0000 #fff #0000;
     border-style: solid;
     border-width: 10px;
     position: absolute;
     top: -20px;
     right: 15px;
}
 .acf-mini-cart-dropdown__count {
     color: #414141;
     font-size: 1.6rem;
     margin-bottom: 10px;
}
 .acf-mini-cart-dropdown .acf-mini-cart-dropdown-total {
     border-top: 1px solid #ddd;
     color: #414141;
     font-size: 1.8rem;
     margin: 20px 0;
     padding-top: 10px;
     overflow: hidden;
}
 .acf-mini-cart-dropdown .acf-mini-cart-dropdown-total__label {
     float: left;
     font-weight: bold;
}
 .acf-mini-cart-dropdown .acf-mini-cart-dropdown-total__value {
     float: right;
}
 .acf-mini-cart-dropdown__actions {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .acf-mini-cart-dropdown-button {
     border: 1px solid #01a8e7;
     padding: 10px;
     text-align: center;
     text-transform: uppercase;
     -webkit-transition: none;
     transition: none;
     width: 48%;
}
 .acf-mini-cart-dropdown-button:hover, .acf-mini-cart-dropdown-button:focus {
     background-color: #0183b4;
     color: #fff;
     outline: none;
}
 .acf-mini-cart-dropdown-button__primary {
     background-color: #01a8e7;
     color: #fff;
}
 .acf-mini-cart-product {
     margin-bottom: 10px;
     overflow: hidden;
}
 .acf-mini-cart-product__image {
     float: left;
     margin-right: 20px;
     width: 66px;
     height: 84px;
}
 .acf-mini-cart-product__price {
     color: #414141;
     font-size: 1.6rem;
     font-weight: bold;
}
 .acf-mini-cart-product__title {
     color: #777;
     font-size: 1.2rem;
}
 .acf-mini-cart-product .acf-mini-cart-product-variant {
     color: #777;
     font-size: 1.2rem;
}
 .acf-mini-cart-product .acf-mini-cart-product-variant__separator {
     padding: 0 5px;
}
 .acf-mini-cart-product__remove {
     cursor: pointer;
     color: #777;
     font-size: 18px;
     position: absolute;
     top: 0;
     right: 10px;
     -webkit-transform: scaleY(0.75);
     transform: scaleY(0.75);
}
 .acf-product-card {
     position: relative;
}
 .acf-product-card__inner {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
     -webkit-flex: 1 0 auto;
     -ms-flex: 1 0 auto;
     flex: 1 0 auto;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-flow: row nowrap;
     -ms-flex-flow: row nowrap;
     flex-flow: row nowrap;
    /* Vertical align items */
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
}
 .acf-product-card__image {
     -webkit-flex-basis: 6.8rem;
     -ms-flex-preferred-size: 6.8rem;
     flex-basis: 6.8rem;
     max-width: 6.8rem;
     position: relative;
     -webkit-box-flex: 0;
     -webkit-flex: 0 0 auto;
     -ms-flex: 0 0 auto;
     flex: 0 0 auto;
}
 @media all and (min-width: 36em) {
     .acf-product-card__image {
         -webkit-flex-basis: 17.8rem;
         -ms-flex-preferred-size: 17.8rem;
         flex-basis: 17.8rem;
         max-width: 17.8rem;
    }
}
 .acf-product-card__content {
     padding: 0 2.38rem;
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
}
 .acf-product-card__price {
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 1.8rem;
     line-height: 1;
}
 @media all and (min-width: 36em) {
     .acf-product-card__price {
         font-size: 3rem;
    }
}
 .acf-product-card__title {
     font-size: 1.6rem;
     line-height: 1.4;
     padding: 1.19rem 0;
}
 @media all and (min-width: 36em) {
     .acf-product-card__title {
         padding: 2.38rem 0;
         font-size: 2.4rem;
    }
}
 .acf-product-card__variants-list {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
     -webkit-flex: 1 0 auto;
     -ms-flex: 1 0 auto;
     flex: 1 0 auto;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-flow: row nowrap;
     -ms-flex-flow: row nowrap;
     flex-flow: row nowrap;
    /* Vertical align items */
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-left: -1.19rem;
}
 .acf-product-card__variants-list > li {
     padding: 0 1.19rem;
}
 .acf-product-card__variant-label {
     display: block;
     margin-bottom: 1.19rem;
     line-height: 1.2;
}
 .acf-product-card__variant-options {
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-weight: 400;
     font-style: normal;
     color: #777;
     line-height: 1.2;
}
 .acf-product-card__subtotal {
     font-size: 2rem;
     position: absolute;
     bottom: 0;
     right: 0;
}
 .acf-product-card__subtotal-label {
     font-weight: bold;
     margin-right: 1rem;
}
 .acf-product-card__remove {
     position: absolute;
     top: 0;
     right: 0;
     display: block;
     height: 1.8rem;
     width: 1.8rem;
     border: none;
     padding: 0;
     background: url(svg/icon__remove.svg) no-repeat;
     background-size: contain;
     cursor: pointer;
     z-index: 1;
}
 .acf-add-to-cart {
     position: relative;
}
 .acf-add-to-cart__variants-list {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
     -webkit-flex: 1 0 auto;
     -ms-flex: 1 0 auto;
     flex: 1 0 auto;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-flow: row nowrap;
     -ms-flex-flow: row nowrap;
     flex-flow: row nowrap;
    /* Vertical align items */
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-left: -2.38rem;
     margin-bottom: 2.38rem;
}
 .acf-add-to-cart__variants-list > li {
     padding: 0 2.38rem;
}
 .acf-add-to-cart__variant {
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-weight: 400;
     font-style: normal;
     margin-bottom: 1.19rem;
}
 .acf-add-to-cart__variant-label {
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     font-style: normal;
     margin-bottom: 1.19rem;
     display: block;
     font-size: 1.6rem;
     line-height: 1.2;
}
 .acf-add-to-cart__variant-options {
     position: relative;
     line-height: 1.2;
}
 .acf-add-to-cart__button {
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     font-style: normal;
     padding: 1.19rem 2.38rem;
     color: #fff;
     background: #01a8e7;
     font-size: 1.6rem;
     text-transform: uppercase;
     border: none;
     width: auto;
     cursor: pointer;
}
 .acf-add-to-cart__button:hover {
     background: #0196ce;
}
 .acf-checkout {
     -webkit-align-self: flex-start;
     -ms-flex-item-align: start;
     align-self: flex-start;
     background-color: #f8f8f8;
     color: #414141;
     margin-left: 7.4rem;
     padding: 2rem 3rem;
     width: 34.2rem;
}
 .acf-checkout__heading, .acf-checkout__label, .acf-checkout__accept {
     font-weight: bold;
}
 .acf-checkout__subtotal, .acf-checkout__tax {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .acf-checkout__heading {
     border-bottom: 0.1rem solid #ddd;
     font-size: 2.2rem;
     padding-bottom: 2.38rem;
}
 .acf-checkout__subtotal {
     font-size: 2.4rem;
     margin: 1rem 0;
}
 .acf-checkout__tax {
     font-size: 1.8rem;
     margin: 1rem 0;
}
 .acf-checkout__delivery {
     margin: 2.38rem 0;
}
 .acf-checkout__delivery .acf-checkout__label {
     font-size: 2.4rem;
}
 .acf-checkout__delivery .acf-form-select {
     display: block;
}
 .acf-checkout__delivery .acf-form-select:before {
     right: 1.19rem;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
}
 .acf-checkout__delivery select {
     cursor: pointer;
     background-color: transparent;
     border: 0.1rem solid #ddd;
     padding: 1.19rem;
}
 .acf-checkout__accept {
     font-size: 1.8rem;
     margin-bottom: .5rem;
}
 .acf-checkout__payment-options li {
     display: inline-block;
     background-repeat: no-repeat;
     background-size: contain;
     margin-right: 1rem;
     width: 5.1rem;
     height: 3.2rem;
}
 .acf-checkout__payment-visa {
     background-image: url(images/payment-visa.png);
}
 .acf-checkout__payment-pp {
     background-image: url(images/payment-pp.png);
}
 .acf-checkout__payment-mastercard {
     background-image: url(images/payment-mastercard.png);
}
 .acf-checkout__button {
     display: block;
     background: #01a8e7;
     color: #fff;
     font-size: 1.6rem;
     font-weight: 500;
     text-align: center;
     text-transform: uppercase;
     margin: 4rem 0 3rem;
     padding: 1.19rem 0;
     -webkit-transition: none;
     transition: none;
}
 .acf-checkout__button:hover, .acf-checkout__button:focus {
     color: #fff;
}
 .acf-checkout__button:hover {
     background: #0196ce;
}
 .acf-checkout__button:focus {
     outline: none;
}
 