.gg-add-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px;
}
.gg-add-r::after,
.gg-add-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-add-r::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}
.gg-add {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
}
.gg-add::after,
.gg-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-add::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}
.gg-album {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  transform: scale(var(--ggs, 1));
  border-left: 7px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 8px solid transparent;
  box-shadow: 0 0 0 2px, inset 6px 4px 0 -4px, inset -6px 4px 0 -4px;
  border-radius: 3px;
}
.gg-album::after,
.gg-album::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 5px;
  background: currentColor;
  transform: rotate(46deg);
  top: 5px;
  right: 4px;
}
.gg-album::after {
  transform: rotate(-46deg);
  right: 2px;
}
.gg-file-add {
  background: linear-gradient(to bottom, currentColor 5px, transparent 0) no-repeat 2px 9px/6px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.gg-file-add::after,
.gg-file-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 6px;
}
.gg-file-add::before {
  background: currentColor;
  left: 4px;
  width: 2px;
  top: 7px;
}
.gg-file-add::after {
  width: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}
.gg-file-document {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.gg-file-document::after,
.gg-file-document::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-file-document::before {
  background: currentColor;
  box-shadow: 0 4px 0, -6px -4px 0;
  left: 0;
  width: 10px;
  height: 2px;
  top: 8px;
}
.gg-file-document::after {
  width: 6px;
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}
.gg-file-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.gg-file-remove::after,
.gg-file-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
}
.gg-file-remove::before {
  background: currentColor;
  left: 2px;
  height: 2px;
  top: 9px;
}
.gg-file-remove::after {
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}
.gg-file {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.gg-file::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}
.gg-folder-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 3px;
}
.gg-folder-remove::after,
.gg-folder-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
}
.gg-folder-remove::before {
  background: currentColor;
  left: 5px;
  width: 8px;
  height: 2px;
  top: 5px;
}
.gg-folder-remove::after {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -5px;
}
.gg-heart,
.gg-heart::after {
  border: 2px solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0;
}
.gg-heart {
  box-sizing: border-box;
  position: relative;
  transform: translate(calc(-10px / 2 * var(--ggs, 1)), calc(-6px / 2 * var(--ggs, 1))) rotate(-45deg) scale(var(--ggs, 1));
  display: block;
}
.gg-heart::after,
.gg-heart::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-heart::after {
  right: -9px;
  transform: rotate(90deg);
  top: 5px;
}
.gg-heart::before {
  width: 11px;
  height: 11px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  left: -2px;
  top: 3px;
}
.gg-play-list-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  height: 6px;
  border-top: 0 solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 -2px 0, -2px 4px 0 -2px, 0 -2px 0 0;
}
.gg-play-list-remove::after,
.gg-play-list-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 8px;
  right: -4px;
}
.gg-play-list-remove::before {
  width: 2px;
  height: 8px;
  top: 5px;
  right: -1px;
}
.gg-profile,
.gg-profile::after,
.gg-profile::before {
  display: block;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100px;
}
.gg-profile {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  position: relative;
}
.gg-profile::after,
.gg-profile::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 8px;
}
.gg-profile::after {
  border-radius: 200px;
  top: 11px;
  left: 0px;
  width: 18px;
  height: 18px;
}
.gg-remove-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}
.gg-remove-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-toggle-off,
.gg-toggle-off::before {
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
}
.gg-toggle-off {
  border: 2px solid;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 14px;
}
.gg-toggle-off::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
  top: 2px;
  left: 12px;
}
.gg-toggle-on,
.gg-toggle-on::before {
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
}
.gg-toggle-on {
  border: 2px solid;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 14px;
}
.gg-toggle-on::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
  top: 2px;
  left: 2px;
}
.gg-toggle-square-off {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 14px;
  border: 2px solid;
  border-radius: 2px;
}
.gg-toggle-square-off::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
  top: 2px;
  left: 12px;
  border-radius: 1px;
}
.gg-toggle-square {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 14px;
  border: 2px solid;
  border-radius: 2px;
}
.gg-toggle-square::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
  top: 2px;
  left: 2px;
  border-radius: 1px;
}
.gg-user-add {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 20px;
  height: 18px;
  background: linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 14px 6px/6px 2px, linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 16px 4px/2px 6px;
}
.gg-user-add::after,
.gg-user-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}
.gg-user-add::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px;
}
.gg-user-add::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px;
}
